.step {
  position: relative;
  background-color: black;
  padding: 282px 0px 459px 0px;
}
.steptest {
  position: absolute;
  width: 537px;
  height: 29px;
  left: 452px;
  top: 536px;
}
.textHead {
  display: flex;
  font-size: 96px;
  font-weight: 900;
  line-height: 115.2px;
  color: white;
  align-items: center;
}
.textsimp {
  font-size: 96px;
  font-weight: 900;
  line-height: 115.2px;
  color: black;
  text-align: center;
}
.bordersimp {
  background-color: #00bcf0;
  border-radius: 106px;
  padding: 0px 30px 0px 41px;
  font-size: 96px;
  font-weight: 700;
  line-height: 109px;
  color: black;
  overflow: hidden;
  text-align: center;
}
.textsub {
  font-size: 24px;
  font-weight: 400;
  line-height: 28, 8px;
  color: white;
  margin: auto;
  text-align: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .step {
    position: relative;
    background-color: black;
    padding: 200px 0px 200px 0px;
  }
  .textHead {
    display: flex;
    font-size: 80px;
    font-weight: 600;
    line-height: 90%;
    color: white;
    align-items: center;
  }
  .bordersimp {
    background-color: #00bcf0;
    border-radius: 106px;
    padding: 0px 30px 0px 41px;
    font-size: 80px;
    font-weight: 600;
    line-height: 102%;
    color: black;
    overflow: hidden;
    text-align: center;
  }
  .textsub {
    font-size: 22px;
    font-weight: 400;
    line-height: 28, 8px;
    color: white;
    text-align: center;
    align-items: center;
  }
}
