.step {
  position: relative;
  background-color: black;
  height: 1000px;
}
.number {
  margin-bottom: 24px;
  font-size: 96px;
  font-weight: 900;
  line-height: 115.2px;
  color: white;
}
.text {
  margin-bottom: 24px;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  color: white;
}
.position {
  position: relative;
  left: 171px;
  top: 202px;
}
.textpri {
  line-height: 115.2px;
  color: black;
}
.textborder {
  background-color: #e8f5e9;
  margin-left: -26px;
  border-radius: 106px;
  padding: 0px 20px 0px 26px;
}
.desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: white;
}
.imgHead {
  position: relative;
  top: 106px;
  right: 170px;
}
.imgParent {
  width: 100%;
  position: relative;
}
.imgChil {
  position: absolute;
  width: 83%;
  left: 9%;
  top: 28%;
}
.btn1 {
  height: 77px;
  width: 251px;
  margin-top: 48px;
  display: block !important;
  color: white !important;
  padding: 10px 20px 10px 20px !important;
  background: #233daa;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 16px !important;
  font-weight: 800 !important;
  font-size: 24px !important;
  line-height: 120% !important;
}
/* mobile */
@media only screen and (min-width: 482px) and (max-width: 767px) {
  .step {
    position: relative;
    background-color: black;
    height: 1400px;
  }
  .position {
    position: relative;
    left: 0;
    top: 0px;
  }
  .number {
    margin: 0 0 10px 0;
    font-size: 80px;
    font-weight: 600;
    line-height: 90%;
    color: white;
  }
  .text {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 150%;
    color: white;
  }
  .textpri {
    color: white;
  }
  .textborder {
    line-height: 0px;
    margin-left: -2%;
    padding: 0px 13px 0px 9px;
    background-color: #00bcf0;
    border-radius: 106px;
  }
  .desc {
    width: 100% !important;
    margin-top: 15px;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: white;
  }
  .imgHead {
    top: 0;
    left: 0;
    width: 100%;
  }
  .btn1 {
    align-self: center;
    width: 100%;
    height: 60px;
    width: 240px;
  }
  .imgChil {
  }
  .imgParent {
  }
}
/* tblet */
@media (min-width: 768px) and (max-width: 1283px) {
  /* CSS */
  .step {
    height: 1000px;
  }
  .imgHead {
    left: 0;
    width: 70%;
  }
  .position {
    top: 100px;
    left: 78px;
  }
  .number {
    font-size: 80px;
    margin: 0;
  }
  .text {
    font-size: 40px;
    font-weight: 500;
    line-height: 143%;
    color: white;
  }
  .text span {
    line-height: 143%;
  }
  .textpri {
    color: black;
  }
  .textborder {
    margin-left: -2%;
    padding: 0px 13px 0px 9px;
    background-color: #00bcf0;
    border-radius: 106px;
  }
  .desc {
    width: 100% !important;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: white;
  }
  .btn1 {
    margin-top: 48px;
    display: block;
    color: white;
    height: 70px;
    padding: 10px 20px 10px 20px;
    background: #233daa;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
  }
}
