.intro {
  background-color: black;
}
.container {
  position: relative;
  background: #00bcf0;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
}
.wrapper {
  padding: 119px 0 100px 0;
  margin-left: 140px;
}
.heading {
  line-height: 76.8px;
  width: 705px;
  color: white;
  font-size: 64px;
  font-weight: 500;
}
.heading span {
  line-height: 76.8px;
  color: white;
  font-weight: 700;
  font-size: 64px;
}

.phoneImg {
  position: relative;
  top: 224px;
  object-fit: cover;
  max-width: 100%;
  left: 64px;
}
.content {
  margin-top: 47px;
}
.text {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}
.list {
  display: flex;
  flex-direction: column;
}
.img {
  margin-right: 16.86px;
}
.app {
  display: flex;
  margin-top: 30px;
}
.app img {
  margin-right: 16px;
}
.lengthText {
  width: 560px;
}

@media (min-width: 768px) and (max-width: 1283px) {
  .wrapper {
    padding: 50px 0 200px 0;
    margin-left: 10px;
  }
  .heading {
    color: white;
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    width: 440px;
  }
  .content {
    margin-top: 10px;
  }
  .heading span {
    font-size: 50px;
  }
  .text {
    font-size: 20px;
  }
  .lengthText {
  }
  .imgPhone {
    position: relative;
    top: -100px;
    left: 0px;
  }
  .phoneImg {
    width: 80%;
    object-fit: cover;
    max-width: 100%;
  }
}
@media only screen and (min-width: 482px) and (max-width: 768px) {
  .wrapper {
    padding: 50px 0 100px 0;
    margin-left: 10px;
  }
  .heading {
    line-height: 60px;
    width: 450px;
    color: white;
    font-size: 40px;
    font-weight: 400;
  }
  .heading span {
    line-height: 50px;
    color: white;
    font-weight: 700;
    font-size: 64px;
  }
  .content {
    margin-top: 20px;
  }
  .app {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 400px;
  }
  .phoneImg {
    position: relative;
    top: -46%;
    /* margin-bottom: 111%; */
    width: 70%;
    margin-bottom: 0px;
  }
}
