.footer {
  color: white;
  padding: 104px 64px 0 64px;
  background-color: black;
}
.footer_heading {
  color: white;
}
.border {
  border: 1px solid #e8eaf7;
  margin-bottom: 8px;
}

.copyright {
  margin-top: 100px;
  text-align: center;
}
.social {
  align-items: center;
  margin-left: 2px;
  display: flex;
}
.social_item {
  margin-right: 15px;
}

.footer_links {
  position: relative;
  right: 32px;
  list-style: none;
  text-decoration: none;
}
.footer_link_text {
  color: white;
  text-decoration: none;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .footer_heading {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .copyright {
    font-size: 12px;
    align-items: center;
  }
  .footer_logo {
    margin-top: 15px;
  }
}

/* Tablet */
@media only screen and (max-width >= 740px) and (width <1024px) {
  .social_item {
    margin-right: 20px;
  }
}
