.header {
    background: transparent;
}
.navContainer {
    max-width: 1440px;
    margin: 0 auto;
}
.navPadding {
    padding: 0px 24px;
}
.navLogo {
    width: 100%;
    height: 100%;
}

.header .navText {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.55);
    font-weight: 700;
    background-color: white;
    border-radius: 76px;
    padding: 6px 12px;
}
.linkActive {
    border-bottom: 1px solid #00bcf0;
}
@media screen and (max-width: 1024px) {
    .navLogo {
        height: 30px;
    }
    .header.navPadding {
        padding: 20px 0;
    }
}
@media (max-width: 576px) {
    .navPadding {
        padding: 12px;
    }
}
