.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 1px solid blue;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.1s;
  background-color: blue;
  z-index: 99999;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans";
}
