* {
  font-family: "Nunito Sans";
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;900&display=swap");
