.banner {
  padding-top: 120px;
  background: white;
  /* padding: 120px 64px 0; */
}

.full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bannerContent {
  padding: 100px 0 180px 0px;
  text-align: center;
  position: relative;
}
.nextTo {
  position: absolute;
  bottom: 50px;
  left: 50px;
  border: 1px solid #263238;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  cursor: pointer;
}
.icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .bannerImg {
  width: 70%;
  object-fit: cover;
  margin-top: 10px;
}
.smallBlack {
  font-size: 20px;
  font-style: normal;
  font-weight: 6 00;
  line-height: 24px;
}
.largeBold {
  font-size: 96px;
  font-weight: 900;
  line-height: 120%;
  color: #263238;
}
.semiBold {
  font-weight: 700;
}
.semiBold span {
  background-color: #00bcf0;
  color: white;
  border-radius: 106px;
  padding: 0px 12px;
  line-height: 1.2;
  display: inline-block;
}
.medMed {
  color: #263238;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.btn.btn-lg {
  margin: auto;
  font-size: 16px;
  padding: 14.5px 16px;
}
.rowVideo {
  background-color: #00218a;
  background-image: url("../../img/dot.png");
  background-size: contain;
}
.videoContainer {
  width: 395px;
  height: 395px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.video {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0 0 0 5px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}
.videoIcon {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.videoIcon:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  /* animation: scaleButton 0.1s ease; */
}
/* @keyframes scaleButton {
    0% {
        transform:translate(-50%, -50%); scale(0.9);
    }
    50% {
        transform:translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform:translate(-50%, -50%) scale(1);
    }
} */

.centerItem {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.features {
  font-size: 128px;
  font-weight: 800;
  color: white;

  text-align: center;
}
@media (max-width: 1200px) {
  .banner .bannerImg {
    width: 90%;
  }
  .largeBold {
    font-size: 84px;
  }
}
@media screen and (max-width: 1024px) {
  /* .bannerContent {
        padding: 30px 0 0 16px;
    }
    .banner {
        margin-top: 80px;
       padding: 120px 64px 0; 
    } */
  .largeBold {
    font-size: 72px;
  }
}

@media (max-width: 864px) {
  .largeBold {
    font-size: 52px;
  }
}
@media (max-width: 768px) {
  .largeBold {
    font-size: 42px;
  }
  .videoContainer {
    width: 300px;
    height: 300px;
  }
  .videoIcon {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 576px) {
  .videoContainer {
    width: 200px;
    height: 200px;
  }
  .videoIcon {
    width: 60px;
    height: 60px;
  }
}
