.section {
    padding: 250px 0;
    background: #eceff1;
    border-radius: 64px;
}

.textContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1px;
}
.title span {
    background: #00bcf0;
    border-radius: 106px;
    color: white;
    margin: 0 4px;
    padding: 0px 7px;
    display: inline-block;
    line-height: 1.2;
}

.desc {
    font-size: 64px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    padding: 0 130px;
}
